# -*- coding: utf-8 -*-
DEBUG = False

SQLALCHEMY_BINDS = {
    'geo':    'postgresql://navi_master:KeprUd6f@navi-geo-rds-production-enc.cluj98sjgkex.eu-west-1.rds.amazonaws.com/navi_geo_new',
    'main':   'postgresql://navi_master:KeprUd6f@navi-geo-rds-production-enc.cluj98sjgkex.eu-west-1.rds.amazonaws.com/navi',
}

SQLALCHEMY_POOL_RECYCLE  = 3600
DATABASE_CONNECT_OPTIONS = {}

BRAINTREE_MERCHANT_ID = None
BRAINTREE_PUBLIC_KEY = None
BRAINTREE_PRIVATE_KEY = None

# US dollar
NAVI_PIN_4_COST = 100
NAVI_PIN_5_COST = 10

DEVINOTEL_LOGIN = 'naviworld'
DEVINOTEL_PASSWORD = 'nAvi:2015'
DEVINOTEL_FROM = 'Navi'
DEVINOTEL_MESSAGE = 'Your actiovation code is {}'

